* {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: orange ;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px;
    border-radius: 10px;
}

#face {
    width: 200px;
    height: 200px;
    filter: drop-shadow(1px 1px 1px black);
}

#social {
    color: orange;
    font-size: 100px;
}

.bold {
    font-weight: bold;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav li{
    display: inline-block;
    padding: 0 20px;
}

.nav a {
   text-decoration: none; 
   color: black;
   font-weight: bold;
}

a.orange {
    color: orange
}

#posts ul {
    list-style-type: none;
}

.bear-social {
    padding: 20px 50px;
}

.avatar {
    background: url("../images/look.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px;
}